.price-input-label {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1rem;
  color: #323c48;
}

.price-input {
  margin-left: 12px;
  border: 1px solid #7e8fa4;
  max-width: 90px;
  height: 30px;
  outline: none;
  padding-left: 16px;
  box-sizing: border-box;
}
