.simpleButton {
  background: #ffffff;
  color: #323c48;
  font-size: 1rem;
  line-height: 1rem;
  padding: 9px 63px;
  box-sizing: border-box;
  border: 1px solid #323c48;
  cursor: pointer;
  transition: background ease-in 0.3s;
}
.simpleButton:hover {
  background: #7e8d9e;
  color: #ffffff;
}
