.root_button {
  background: #ffffff;
  cursor: pointer;
  box-sizing: border-box;
  transition: background ease-in 0.3s;
  line-height: 1rem;
  font-size: 1rem;
}

.root_button:hover {
  background: #7e8d9e;
  color: #ffffff;
}

.simple_button {
  color: #323c48;
  padding: 9px 63px;
  border: 1px solid #323c48;
}
