.priceForm {
  margin-right: 30px;
}

.priceForm_title {
  color: #323c48;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.price_input_wrapper {
  margin-bottom: 24px;
}
.price_form_input {
  display: inline-block;
  margin-left: 16px;
}

.price_form_categories {
  margin-top: 15px;
  margin-bottom: 24px;
}

.simple_button {
  background: #ffffff;
  color: #323c48;
  font-size: 1rem;
  line-height: 1rem;
  padding: 9px 63px;
  box-sizing: border-box;
  border: 1px solid #323c48;
  cursor: pointer;
  transition: background ease-in 0.3s;
}
.simple_button:hover {
  background: #7e8d9e;
  color: #ffffff;
}
