.checkbox {
  display: inline;
}

.checkbox label {
  padding: 8px 16px;
  box-sizing: border-box;
  border-radius: 15px;
  border: 1px solid #7e8fa4;
  font-size: 1rem;
  line-height: 1rem;
  color: #7e8fa4;
  transition: background opacity ease-in 0.3s;
  cursor: pointer;
}

.checkbox label:hover {
  background: #7e8d9e;
  color: #ffffff;
}

.checkbox input {
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
}

.checked label {
  background-color: #323c48;
  color: #fff;
}
